


*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  text-align:center;
  
}

.container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:lightblue;
  padding:5px;
  border:2px solid ;
  width:95vw;
  margin:10px;
  color: darkblue;
}

.parcialBox{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  background:#0753b7;
  width:90vw;
  padding:12px;
}

.p>input{
  width:80px;
  background-color:#fff;
}

input{
  width:200px;
  background:#fff;
  height: 30px;
}

.boxBtn>button{
  background:#0753b7;
  color:#fff;
  height:50px;
  width:100px;
}

.p>label{
  font-size:16px;
  color: lightblue;
}

h2{
  color:darkblue;
  margin-bottom:10px;
  font-size: 20px;
}

label{
  font-weight:600;
  font-size:20px;
}

.p{
  width:30vw;
}

select{
  font-size: 20px;
}

.mkplace>option{
  background:#f0f;
}

.boxBtn{
  display:flex;
  width:80vw;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  padding:15px;
  border:2px solid ;
  margin:8px;
  background: lightblue;
}

.boxForm>div{
  display: flex;
  width: 85vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.boxForm{
  background-color: lightpink;
  border: 2px solid #000;
}
